.controlPanel {
  background-color: rgba(0, 255, 0, 0.1);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.control {
  margin-bottom: 20px;
}

.control label {
  display: block;
  margin-bottom: 10px;
}

.control input[type="range"] {
  width: 100%;
}